@import "./common-styles";

.recipe-direction-widget {
  .step-no {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;

    .optional {
      @include pill();
      background-color: #69bfff;
      margin-left: 5px;
    }
  }

  .instructions {
    line-height: 25px;
    margin-left: 5px;
  }
}
